@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&display=swap');

body {
  background: #EEEDED;
}


.hero {
  background: url('./../../public/images/bg-portifolio.jpg') no-repeat center top;
  background-size: cover;
}

/* body {
  color: #F9FAFB;
  background: url('./../../public/images/bg-portifolio.jpg') no-repeat center top;
  background-size: cover;
} */

.scroll {
  scroll-behavior: smooth;
}

.font_shadows {
  font-family: 'Cinzel Decorative';
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 20px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: rgba(192, 160, 185, 0.40);
    border-radius: 2px;
    height: 5px;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(204, 60, 255, 0.60);
  }
}


.mouse-scroll {
  width: 38px;
  height: 60px;
  background-color: transparent;
  border: 3px solid #CC3CFF;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-down {
  animation: scrollDown 1.5s infinite;
}

@keyframes scrollDown {
  0%, 100% {
    transform: translateY(0); 
  }
  50% {
    transform: translateY(10px);
  }
}

.text-animated {
  font-weight: 700;
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  background: linear-gradient(90deg, #4B6ED5, #FF7A43, #CC3CFF);
  letter-spacing: 5px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  background-size: 80%;
  animation: shine 5s linear infinite;
  position: relative;
}

@keyframes shine {
  0% {
    background-position-x: -500%;
  }
  100% {
    background-position-x: 500%;
  }
}
